.content {
	width: 100%;
}

.title h1{
	color: #000;
	line-height: 48px;
	text-align: center;
	font-weight: 700;
}

.list-cart {
	display: flex;
	max-width: 940px;
	width: 80%;
	flex-direction: column;
	align-items: flex-start;
	margin: 0 auto;
	padding: 10px;

}

.cart-item {
	display: flex;
	padding: 12px 12px 24px 12px;
	justify-content: space-between;
	align-items: center;
	align-self: stretch;
	border-bottom: 1px solid #B6B6B6;
}

.product-container {
	display: flex;
	align-items: center;

}

.check-box-cart-item {
	width: 24px;
	height: 24px;
	border: 1px solid #B6B6B6;
}

.image-cart {
	width: 120px;
	height: 120px;
	background: #D6D6D6;
	margin-left: 16px;
}

.product-cart {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 16px;
}

.name-cart {
	color: #000;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 30px;
}

.price-acrt {
	color: #444;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 36px;
}


.counter {
	width: 150px;
	margin-left: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: solid 1px #B6B6B6;
}

.counter input {
	width: 50px;
	border: 0;
	line-height: 30px;
	font-size: 20px;
	text-align: center;	
	appearance: none;
	outline: 0;
	margin: 0 16px!important;
}

.counter span {
	display: inline-flex;
	background-color: #B6B6B6;
	font-size: 25px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	color: #000;
	user-select: none;
	width: 38px;
}



.order-container {
	display: flex;
	max-width: 940px;
	width: 80%;
	margin: 135px auto;
	padding: 32px 16px;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #B6B6B6;
}

.check-container {
	display: flex;
	align-items: flex-end;
	width: 108px;
	height: 32px;
}

.check-box-cart {
	width: 30px;
	height: 30px;
	border: 1px solid #B6B6B6;
}

.all-order {
	color: #000;
	font-size: 20px;
	font-weight: 700;
	line-height: 30px;
	margin-left: 16px;
}

.total-price {
	display: flex;
	justify-content: center;
	align-items: center;
}

.total-price-title {
	color: #000;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
}

.price-cart {
	color: #444;
	font-size: 32px;
	font-weight: 700;
	line-height: 48px;
	margin-left: 16px;
}

.btn-primary{
	font-size: 28px !important;
	background-color: #000!important;
	padding: 12px 32px !important;
	color: #fff!important;
	border: none!important	;
}