.payment {
	display: flex;
	margin-top: 80px;
}

.payment-content {
	padding: 24px 0 56px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	margin: 0 auto;
}

.check-label {
	font-size: 18px;
	font-weight: 700;
	font-style: italic;
	color: red;
}

.cart-quantity,
.product-size {
	margin: 0;
}

.payment-product-image {
	--size: 60px !important;
	width: var(--size) !important;
	height: var(--size) !important;
}

.list-product-choosen {
	padding: 0;
	height: 300px;
	overflow: auto;
}

.payment-item {
	width: 100% !important; 
}

.payment-note {
	margin-top: 32px;
}

.payment-price {
	margin-top: 32px;
}

.payment-price ul {
	list-style: none;
	padding: 0;
}

.payment-price ul li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 4px 0;
	border-bottom: 1px solid #ccc;
	font-size: 18px;
}

.payment-price ul li  {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px 0;
	border-bottom: 1px solid #ccc;
	font-size: 17px;
	font-weight: 700;
}

.payment-price ul li p {
	margin: 0;
}

.payment-price-value {
	font-size: 20px;
	color: red;
}

.payment-btn {
	margin-top: 20px;
	float: right;
}