*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.user-infor-title{
    display: flex;
    justify-content: center;
    line-height: 48px;
    font-weight: 700;
    font-size: 38px;
    padding:16px;
}
.user-infor-container{
    width: 600px;
    margin:auto;
}
.user-name-textbox{
    display: flex;
    justify-content: space-between;
}
.user-lastname-textbox,
.user-surname-textbox{
    width:48%;

}
.user-phone-textbox,
.user-birthday-textbox,
.user-email-textbox{
    width:100%;
}
.textbox{
    padding:8px;
}
.user-infor{
    margin: 12px 0 8px;
}
#check{
    margin:16px ;
}
.user-update-button{
    float:right;
    padding:8px 20px;
    border-radius: 30px;
}
.user-update-button:hover{
    cursor: pointer;
    background-color: #000;
    color: #fff;
}