:root {
	--neutral-01: rgba(0, 0, 0, 1);
	--neutral-02: rgba(68, 68, 68, 1);
	--neutral-04: rgba(182, 182, 182, 1);
	--neutral-05: rgba(214, 214, 214, 1);
	--neutral-06: rgba(239, 239, 239, 1);
	--neutral-07: rgba(255, 255, 255, 1);
	--clr-primary: #f7cfc8;
	--clr-secondary: #4d84c8;
	--clr-wht: #fffcf6;
}

#carouselExampleIndicators {
	min-height: 20px;
}

.carousel-inner {
	min-height: 20px;
}


.c-img {
	object-fit: cover;
	background-size: cover;
	height: 463px;
}

.home {
	background-color: #ffffff;
	width: 100%;
	min-height: 200px;
	background-color: #edf0f3;
	margin-top: 80px;
}

.home-title {
	display: flex;
	align-items: center;
	justify-items: center;
	padding: 32px 0 48px 0;
}

.home-title h1 {
	color: var(--clr-primary);
	font-family: "Luckiest Guy", cursive;
	font-size: 160px;
	letter-spacing: 10px;
	text-align: center;
	text-shadow: -6px -6px var(--clr-secondary), -5px -5px var(--clr-secondary),
		-4px -4px var(--clr-secondary), -3px -3px var(--clr-secondary), -2px -2px var(--clr-secondary),
		-1px -1px var(--clr-secondary), 1px 1px var(--clr-secondary), 2px 2px var(--clr-secondary),
		3px 3px var(--clr-secondary), 4px 4px var(--clr-secondary), 5px 5px var(--clr-secondary),
		6px 6px var(--clr-secondary), 7px 7px var(--clr-secondary), 8px 8px var(--clr-secondary),
		9px 9px var(--clr-secondary), 10px 10px var(--clr-secondary), 11px 11px var(--clr-secondary),
		12px 12px var(--clr-secondary), 13px 13px var(--clr-secondary), 14px 14px var(--clr-secondary),
		15px 15px var(--clr-secondary), 16px 16px var(--clr-secondary), 17px 17px var(--clr-secondary),
		18px 18px var(--clr-secondary), 19px 19px var(--clr-secondary), 20px 20px var(--clr-secondary),
		21px 21px var(--clr-secondary), 22px 22px var(--clr-secondary), 23px 23px var(--clr-secondary),
		24px 24px var(--clr-secondary), 25px 25px var(--clr-secondary), 26px 26px var(--clr-secondary),
		27px 27px var(--clr-secondary), 25px 25px var(--clr-secondary), 28px 28px var(--clr-secondary),
		29px 29px var(--clr-secondary), 30px 30px var(--clr-secondary), 31px 31px var(--clr-secondary),
		32px 32px var(--clr-secondary), 33px 33px var(--clr-secondary), 34px 34px var(--clr-secondary),
		35px 35px var(--clr-secondary), 36px 36px var(--clr-secondary), 37px 37px var(--clr-secondary),
		38px 38px var(--clr-secondary), 39px 39px var(--clr-secondary), 40px 40px;
	width: 100%;
}


.home .text-wrapper {
	color: var(--neutral-01);
	font-family: "Inter-Bold", Helvetica;
	font-size: 24px;
	font-weight: 700;
	left: 0;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	top: 4px;
}



.introduce {
	padding: 0 52px;
	margin-top: 48px;
}

.introduce-item {
	padding: 12px 24px;
}

.introduce-title {
	font-size: 36px;
	font-weight: 700;
	font-style: italic;
	margin-bottom: 6px;
}

.img-introduce {
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 24px;
	-webkit-clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
	clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}

.btn-explore {
	width: 100%;
	padding: 12px 24px;
	font-size: 19px;
	font-weight: 700;
	background-color: #000;
	color: #fff;
	border-radius: 24px;
	margin-top: 12px;
	cursor: pointer;
	transition: all .2s;
}

.btn-explore:hover {
	opacity: .7;
}

.products-title {
	display: inline-block;
	font-size: 28px;
	font-weight: 700;
	font-style: italic;
	width: 100%;
	text-align: left;
	padding-left: 12px;
	margin-bottom: 6px;
}

.products {
	padding: 12px 36px;
	margin-top: 36px;
}

.card {
	transition: all .3s;
	min-height: 200px !important;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	border-radius: 24px !important;
}

.card:hover {
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.img-container {
	overflow: hidden;
}

.card-image {
	--size: 250px;
	width: var(--size);
	height: var(--size);
	transition: all .3s;
	border-radius: 24px !important;
}

.card:hover .card-image {
	transform: scale(1.1);
}

.card-price {
	font-size: 24px;
	font-weight: 700;
	color: red;
}

